//reset
body{
  margin: 0;
  font-family: sans-serif;
}

a{
  text-decoration: none;
}

.hidden{
  display:none;
}
.show{
  display:block;
}


//scrolling slide

//grip display for view

//LINK navbar
#navbar{
  background: black;
  width: 100vw;
  display: flex;
  justify-content: center;
  nav{
    ul{
      display: flex;
      justify-content: space-around;
      list-style: none;
      width: 95vw;
      position: relative;
      left: -15px;
      li{
        color: orangered;
        cursor: pointer;
        a{
          color: orangered;
        }
      }
    }
  }
}

//LINK home page
//ANCHOR connexion form

//ANCHOR img
#home_contener{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .button_connexion{
    margin-top: 1%;
  }
}
//LINK responsive
//desktop
@media  screen and (min-width:1441px) {
  //LINK  navbarDesktop
  #navbar{
    nav{
      ul{
        li{
          a,.connexion{
            position: relative;
            &::before{
              content: "";
              width: 0;
              height: 0.1em;
              position: absolute;
              bottom: 0;
              right: 0;
              background: orange;
              transition: all .3s;
            }
            &:hover{
              &::before{
                width: 100%;
                left: 0;
                background: darkgoldenrod;
              }
            }
          }
        }
      }
    }
  }
  //LINK home page
  //ANCHOR connexion form

  //ANCHOR img
  #home_contener{
    position: absolute;
    top: 35%;
    left: 30%;
    width: 40%;
    #image_home{
      width: 50%;
    }
    .button_connexion{
      width: 60%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      button{
        width: auto;
        background: none;
        border-radius: 20px;
        padding: 1%;
        cursor:pointer;
      }
    }
  }
}


//mobile
@media  screen and (max-width:1440px) {
  //LINK navbarMobile
  #navbar{
    font-size: 12px;
    nav{
      ul{
        li{
          text-shadow: .5px .5px .5px orange;
          a{
            text-shadow: .5px .5px .5px orange;
          }
        }
      }
    }
  }
  //LINK home page
  //ANCHOR connexion form

  //ANCHOR img
  #home_contener{
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    #image_home{
      width: 100%;
    }
    .button_connexion{
      width: 150%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      button{
        width: auto;
        background: none;
        border-radius: 20px;
        cursor:pointer;
      }
    }
  }
}