//LINK resetCSS
body{
  margin: 0;
  background: pink;
  font-family: sans-serif;
  &::-webkit-scrollbar{
    width: 6px;
    height: 0;
    background: #b8860b;
  }
}
a{
  text-decoration: none;
}

//LINK commun
.invisible{
  visibility:hidden;
}
.hidden{
  display: none;
}
.show{
  display:block;
}
.top{
  margin-top: 4%;
}
.user_info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button{
  cursor: pointer;
}

//nav show hide
#showAndHide{
  margin-top: .5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  span.active{
    background: rgba(darkgoldenrod,.5);
    transition: all ease .5s;
    color: white;
    text-shadow: 2px 2px 2px black;
  }
  span{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0 .5%;
    height: 40px;
    border-radius: 50px;
    transition: all ease 1s;
  }
}
#showAndHide.hidden{
  display: none;
}
#view_content.hidden{
  display: none;
}

//btn style
.ajouter{
  border: none;
  background: rgba(0, 255, 0, .3);
  &:hover {
    border: 1px solid green;
    box-shadow: 2px 2px 2px rgba(0, 255, 0, .5);
    background: rgba(0, 255, 0, .5);
    transition: all ease .5s;
  }
}
.modifier{
  border: none;
  background: rgba(255, 178, 0, .5);
  &:hover {
    border: 1px solid rgb(255, 178, 0);
    box-shadow: 2px 2px 2px rgb(255, 178, 0);
    background: rgba(255, 178, 0, .5);
    transition: all ease .5s;
  }
}
.button_custom{
  border: 1px solid black;
  padding: 1%;
  border-radius: 3px;
  cursor: pointer;
  transition: all ease .5s;
}

//scrolling slide
.scroll {
  overflow: scroll;
  &::-webkit-scrollbar{
    width: 6px;
    height: 0;
    border: 1px solid rgba(black,.5);
    border-radius: 10px;
    //background: #b8860b;
  }
  &::-webkit-scrollbar-thumb{
    width: 6px;
    border-radius:50px ;
    background: black;
  }
}
//grip display for view

//LINK navbar
#navbar{
  background: black;
  width: 100vw;
  display: flex;
  justify-content: center;
  nav{
    ul{
      display: flex;
      justify-content: space-around;
      list-style: none;
      width: 95vw;
      position: relative;
      left: -15px;
      li{
        color: orangered;
        cursor: pointer;
        a{
          color: orangered;
        }
      }
    }
  }
}

//LINK home page
//ANCHOR connexion form
#connexion_content{
  padding: 0 1% 1% 1%;
  position: absolute;
  z-index: 1;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(360deg, rgba(192,192,192,.8) 0%, rgba(255,255,255,.7) 100%);;;
  #form_connexion{
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    input{
      background: rgba(255,152,1,.5);
      border: 1px solid black;
      box-shadow: none;
    }
    button{
      background:rgba(255,155,0,.5);
      padding: 1%;
      box-shadow: none;
      border: 1px solid black;
      transition: all ease .5s;
    }
  }
}
//ANCHOR img
#home_contener{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .button_connexion{
    margin-top: 1%;
  }
}

//LINK rucher page
#easter.hidden{
  display: none;
}
.easter_egg{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
//ANCHOR graph
.left{
  display: flex;
  justify-content: center;
  width: 100vw;
  .view_ruche{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .btn_ruche{
      width: 100vw;
      height: 50%;
      .dateSelect{
        margin:1% 0;
      }
      .choose{
        margin: 1% 0;
        button,a{
          color: black;
          font-weight: normal;
          border : 1px solid black;
          background: none;
          border-radius: 50px;
          padding: .3%;
          transition: all ease .5s;
          cursor: pointer;
        }
      }
      .dataSelect{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .view_choose{
          display: flex;
          justify-content: center;
          height: 25px;
          border-radius: 50px;
          cursor: pointer;
          padding: .2% 1%;
          transition: all ease .5s;
          &:hover{
            background: rgba(184,134,11,.5);
            transition: all ease .5s;
          }
        }
      }
    }
    .table\&select{
      div{
        span{
          border-bottom: 1px solid black;
          height: 20px;
          display: grid;
          grid-auto-columns: 1fr;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          gap: 1% 5%;
          justify-content: center;
          align-content: center;
          justify-items: center;
          align-items: center;
          text-align: center;
        }
      }
      .single_ruche{
        .scroll{
          height: 5vh;
          span:nth-child(even){
            background: silver;
          }
        }
      }
    }
    .view\&select{
      margin-top: 1%;
      display: flex;
      justify-content: center;
      align-items: center;
      .graph{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 1100px;
        height: auto;
        margin-right: 1%;
        #graph_content{
          width: 100%;
        }
      }
    }
  }
}
//ANCHOR rucher admin fixme tu en est la
.right {
  display: flex;
  justify-content: center;
  width: 100vw;
  .form_ruche {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .btn_content {
      margin-bottom: 1%;
      .btn_ruche {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .modifier {
          height: 100%;
          font-size: 100%;
        }
      }
    }
    .table_content {
      display: flex;
      justify-content: space-around;
      margin-top: 2%;
      .select_ruche,.view_rucher{
        border: 1px solid black;
        border-radius: 10px;
      }
      .select_ruche {
        span {
          display: grid;
          grid-auto-columns: 1fr;
          grid-template-columns: 1fr 1fr;
          gap: 1% 2%;
          justify-content: center;
          align-content: center;
          justify-items: center;
          align-items: center;
          border-bottom: 1px solid black;
        }
        .ruche_content {
          height: 30vh;
          span{
            &:nth-child(even) {
              background: silver;
            }
          }
        }
      }
      .view_rucher {
        width: 15vw;
        .rucher_body{
          span{
            p{
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100%;
              overflow-x:scroll;
              &:nth-child(1){
                &::-webkit-scrollbar{
                  height: 5px;
                  border-top: 1px solid black;
                }
                &::-webkit-scrollbar-thumb{
                  height: 4px;
                  width: 10px;
                  background: rgba(black,.5);
                }
              }
              &:nth-child(2){
                &::-webkit-scrollbar{
                  height: 5px;
                  border-radius: 50px;
                  border-top: 1px solid black;
                  border-right: 1px solid black;
                }
                &::-webkit-scrollbar-thumb{
                  height: 4px;
                  width: 10px;
                  border-radius: 50px;
                  background: rgba(black,.5);
                }
              }
            }
            &:nth-child(even){
              background: silver;
            }
          }
        }
        span {
          display: grid;
          grid-auto-columns: 1fr;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          justify-content: center;
          align-content: center;
          justify-items: center;
          align-items: center;
          border-bottom:1px solid black;
          p,input[type='radio']{
            text-align: center;
          }
        }
      }
    }
  }
}
  //LINK responsive
//desktop
@media  screen and (min-width:1441px) {
  //LINK  navbarDesktop
  #showAndHide{
    span{
      &:hover{
        border: 1px solid black;
        font-weight: bolder;
        box-shadow: 1px 1px 1px silver;
        transition: all ease 1s;
        background: rgba(darkgoldenrod,.5);
      }
    }
  }
  #navbar{
    nav{
      ul{
        li{
          a,.connexion{
            position: relative;
            &::before{
              content: "";
              width: 0;
              height: 0.1em;
              position: absolute;
              bottom: 0;
              right: 0;
              background: orange;
              transition: all .3s;
            }
            &:hover{
              &::before{
                width: 100%;
                left: 0;
                background: darkgoldenrod;
              }
            }
          }
        }
      }
    }
  }
  //LINK home page
  //ANCHOR connexion form
  #connexion_content{
    position: absolute;
    top: 40%;
    left: 44%;
    z-index: 1;
    #form_connexion{
      input{
      }
      button{
        &:hover{
          border-radius: 20px;
          border: none;
          background: rgb(255,155,0);
          transition: all ease .6s;
        }
      }
    }
  }
  //ANCHOR img
  #home_contener{
    position: absolute;
    top: 35%;
    left: 30%;
    width: 40%;
    #image_home{
      width: 50%;
    }
    .button_connexion{
      width: 60%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      button{
        width: auto;
        background: none;
        border-radius: 20px;
        padding: 1%;
        cursor:pointer;
      }
    }
  }

  //LINK rucher page
  //ANCHOR graph
  .easter_egg{
    height: 30px;
  }
  .left{
    height: 100%;
    .view_ruche{
      .btn_ruche{
        .choose{
          button,a{
            &:hover{
              background: rgba(184,134,11,.5);
              border: none;
              box-shadow: 2px 2px 2px silver;
              color: white;
              text-shadow: 1px 1px 1px grey;
              transition: all ease .5s;
            }
          }
        }
      }
      .table\&select{
        width: 7%;
      }
    }
  }
  .right{
    .form_ruche{
      .btn_content{
        width: 25%;
      }
      .table_content{
        width: 50%;
        .select_ruche{
          width: 10vw;
          span{
            p,input[type='radio']{
              width: 5vw;
            }
          }
        }
      }
    }
  }
}

//mobile
@media  screen and (max-width:1440px) {
  #showAndHide{
    span.active{
    }
    span{
      padding: 0 1%;
    }
  }
  //LINK navbarMobile
  #navbar{
    font-size: 12px;
    nav{
      ul{
        li{
          text-shadow: .5px .5px .5px orange;
          a{
            text-shadow: .5px .5px .5px orange;
          }
        }
      }
    }
  }
  //LINK home page
  //ANCHOR connexion form
  #connexion_content{
    position: absolute;
    top: 31%;
    left: 25.5%;
    #form_connexion{
      input{
      }
      button{
        &:hover{
          border-radius: 20px;
          border: none;
          background: rgb(255,155,0);
          transition: all ease .6s;
        }
      }
    }
  }
  //ANCHOR img
  #home_contener{
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    #image_home{
      width: 100%;
    }
    .button_connexion{
      width: 150%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      button{
        width: auto;
        background: none;
        border-radius: 20px;
        cursor:pointer;
      }
    }
  }

  //LINK rucher page
  //ANCHOR graph
  .easter_egg{
    height: 10px;
  }
  .left{
    .view_ruche{
      .btn_ruche{
        .dataSelect{
          span{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            input{
              width: 100px;
            }
          }
        }
      }
      .table\&select{
      }
      .view\&select{
        width: 100vw;
        .graph{
        }
      }
    }
  }
  .right{
    .form_ruche{
      .btn_content{
        width: 100vw;
      }
      .table_content{
        width: 100vw;
        .select_ruche{
          width: 20vw;
        }
        .view_rucher{
          width: 40vw;
          span{
            p,input[type='radio']{
              width: 15vw;
            }
          }
          .rucher_body{
            span{
              padding: .5%;
            }
          }
        }
      }
    }
  }
}