body {
  margin: 0;
  font-family: sans-serif;
}
body::-webkit-scrollbar {
  width: 6px;
  height: 0;
  background: #b8860b;
}

a {
  text-decoration: none;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.top {
  margin-top: 4%;
}

.user_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  cursor: pointer;
}

#showAndHide {
  margin-top: 0.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#showAndHide span.active {
  background: rgba(184, 134, 11, 0.5);
  transition: all ease 0.5s;
  color: white;
  text-shadow: 2px 2px 2px black;
}
#showAndHide span {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0 0.5%;
  height: 40px;
  border-radius: 50px;
  transition: all ease 1s;
}

#showAndHide.hidden {
  display: none;
}

#view_content.hidden {
  display: none;
}

.ajouter {
  border: none;
  background: rgba(0, 255, 0, 0.3);
}
.ajouter:hover {
  border: 1px solid green;
  box-shadow: 2px 2px 2px rgba(0, 255, 0, 0.5);
  background: rgba(0, 255, 0, 0.5);
  transition: all ease 0.5s;
}

.modifier {
  border: none;
  background: rgba(255, 178, 0, 0.5);
}
.modifier:hover {
  border: 1px solid #ffb200;
  box-shadow: 2px 2px 2px #ffb200;
  background: rgba(255, 178, 0, 0.5);
  transition: all ease 0.5s;
}

.button_custom {
  border: 1px solid black;
  padding: 1%;
  border-radius: 3px;
  cursor: pointer;
  transition: all ease 0.5s;
}

.scroll {
  overflow: scroll;
}
.scroll::-webkit-scrollbar {
  width: 6px;
  height: 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.scroll::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 50px;
  background: black;
}

#navbar {
  background: black;
  width: 100vw;
  display: flex;
  justify-content: center;
}
#navbar nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 95vw;
  position: relative;
  left: -15px;
}
#navbar nav ul li {
  color: orangered;
  cursor: pointer;
}
#navbar nav ul li a {
  color: orangered;
}

#connexion_content {
  padding: 0 1% 1% 1%;
  position: absolute;
  z-index: 1;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(360deg, rgba(192, 192, 192, 0.8) 0%, rgba(255, 255, 255, 0.7) 100%);
}
#connexion_content #form_connexion {
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#connexion_content #form_connexion input {
  background: rgba(255, 152, 1, 0.5);
  border: 1px solid black;
  box-shadow: none;
}
#connexion_content #form_connexion button {
  background: rgba(255, 155, 0, 0.5);
  padding: 1%;
  box-shadow: none;
  border: 1px solid black;
  transition: all ease 0.5s;
}

#home_contener {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#home_contener .button_connexion {
  margin-top: 1%;
}

.easter_egg {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.left {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.left .view_ruche {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left .view_ruche .btn_ruche {
  width: 100vw;
  height: 50%;
}
.left .view_ruche .btn_ruche .dateSelect {
  margin: 1% 0;
}
.left .view_ruche .btn_ruche .choose {
  margin: 1% 0;
}
.left .view_ruche .btn_ruche .choose button, .left .view_ruche .btn_ruche .choose a {
  color: black;
  font-weight: normal;
  border: 1px solid black;
  background: none;
  border-radius: 50px;
  padding: 0.3%;
  transition: all ease 0.5s;
  cursor: pointer;
}
.left .view_ruche .btn_ruche .dataSelect {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left .view_ruche .btn_ruche .dataSelect .view_choose {
  display: flex;
  justify-content: center;
  height: 25px;
  border-radius: 50px;
  cursor: pointer;
  padding: 0.2% 1%;
  transition: all ease 0.5s;
}
.left .view_ruche .btn_ruche .dataSelect .view_choose:hover {
  background: rgba(184, 134, 11, 0.5);
  transition: all ease 0.5s;
}
.left .view_ruche .table\&select div span {
  border-bottom: 1px solid black;
  height: 20px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1% 5%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.left .view_ruche .table\&select .single_ruche .scroll {
  height: 5vh;
}
.left .view_ruche .table\&select .single_ruche .scroll span:nth-child(even) {
  background: silver;
}
.left .view_ruche .view\&select {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left .view_ruche .view\&select .graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1100px;
  height: auto;
  margin-right: 1%;
}
.left .view_ruche .view\&select .graph #graph_content {
  width: 100%;
}

.right {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.right .form_ruche {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right .form_ruche .btn_content {
  width: 25%;
  margin-bottom: 1%;
}
.right .form_ruche .btn_content .btn_ruche {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.right .form_ruche .btn_content .btn_ruche .modifier {
  height: 100%;
  font-size: 100%;
}
.right .form_ruche .table_content {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-top: 2%;
}
.right .form_ruche .table_content .select_ruche, .right .form_ruche .table_content .view_rucher {
  border: 1px solid black;
  border-radius: 10px;
}
.right .form_ruche .table_content .select_ruche {
  width: 10vw;
}
.right .form_ruche .table_content .select_ruche span {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1% 2%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid black;
}
.right .form_ruche .table_content .select_ruche .ruche_content {
  height: 30vh;
}
.right .form_ruche .table_content .select_ruche .ruche_content span:nth-child(even) {
  background: silver;
}
.right .form_ruche .table_content .view_rucher {
  width: 15vw;
}
.right .form_ruche .table_content .view_rucher .rucher_body span p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-x: scroll;
}
.right .form_ruche .table_content .view_rucher .rucher_body span p:nth-child(1)::-webkit-scrollbar {
  height: 5px;
  border-top: 1px solid black;
}
.right .form_ruche .table_content .view_rucher .rucher_body span p:nth-child(1)::-webkit-scrollbar-thumb {
  height: 4px;
  width: 10px;
  background: rgba(0, 0, 0, 0.5);
}
.right .form_ruche .table_content .view_rucher .rucher_body span p:nth-child(2)::-webkit-scrollbar {
  height: 5px;
  border-radius: 50px;
  border-top: 1px solid black;
  border-right: 1px solid black;
}
.right .form_ruche .table_content .view_rucher .rucher_body span p:nth-child(2)::-webkit-scrollbar-thumb {
  height: 4px;
  width: 10px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.5);
}
.right .form_ruche .table_content .view_rucher .rucher_body span:nth-child(even) {
  background: silver;
}
.right .form_ruche .table_content .view_rucher span {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid black;
}
.right .form_ruche .table_content .view_rucher span p, .right .form_ruche .table_content .view_rucher span input[type=radio] {
  text-align: center;
  width: 5vw;
}

@media screen and (min-width: 1441px) {
  #showAndHide span:hover {
    border: 1px solid black;
    font-weight: bolder;
    box-shadow: 1px 1px 1px silver;
    transition: all ease 1s;
    background: rgba(184, 134, 11, 0.5);
  }

  #navbar nav ul li a, #navbar nav ul li .connexion {
    position: relative;
  }
  #navbar nav ul li a::before, #navbar nav ul li .connexion::before {
    content: "";
    width: 0;
    height: 0.1em;
    position: absolute;
    bottom: 0;
    right: 0;
    background: orange;
    transition: all 0.3s;
  }
  #navbar nav ul li a:hover::before, #navbar nav ul li .connexion:hover::before {
    width: 100%;
    left: 0;
    background: darkgoldenrod;
  }

  #connexion_content {
    position: absolute;
    top: 40%;
    left: 44%;
    z-index: 1;
  }
  #connexion_content #form_connexion button:hover {
    border-radius: 20px;
    border: none;
    background: #ff9b00;
    transition: all ease 0.6s;
  }

  #home_contener {
    position: absolute;
    top: 35%;
    left: 30%;
    width: 40%;
  }
  #home_contener #image_home {
    width: 50%;
  }
  #home_contener .button_connexion {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #home_contener .button_connexion button {
    width: auto;
    background: none;
    border-radius: 20px;
    padding: 1%;
    cursor: pointer;
  }

  .easter_egg {
    height: 30px;
  }

  .left {
    height: 100%;
  }
  .left .view_ruche .btn_ruche .choose button:hover, .left .view_ruche .btn_ruche .choose a:hover {
    background: rgba(184, 134, 11, 0.5);
    border: none;
    box-shadow: 2px 2px 2px silver;
    color: white;
    text-shadow: 1px 1px 1px grey;
    transition: all ease 0.5s;
  }
  .left .view_ruche .table\&select {
    width: 7%;
  }
}
@media screen and (max-width: 1440px) {
  #showAndHide span {
    padding: 0 1%;
  }

  #navbar {
    font-size: 12px;
  }
  #navbar nav ul li {
    text-shadow: 0.5px 0.5px 0.5px orange;
  }
  #navbar nav ul li a {
    text-shadow: 0.5px 0.5px 0.5px orange;
  }

  #connexion_content {
    position: absolute;
    top: 31%;
    left: 25.5%;
  }
  #connexion_content #form_connexion button:hover {
    border-radius: 20px;
    border: none;
    background: #ff9b00;
    transition: all ease 0.6s;
  }

  #home_contener {
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
  }
  #home_contener #image_home {
    width: 100%;
  }
  #home_contener .button_connexion {
    width: 150%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #home_contener .button_connexion button {
    width: auto;
    background: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .easter_egg {
    height: 10px;
  }

  .left .view_ruche .btn_ruche .dataSelect span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left .view_ruche .btn_ruche .dataSelect span input {
    width: 100px;
  }
  .left .view_ruche .view\&select {
    width: 100vw;
  }
}

/*# sourceMappingURL=style.css.map */
