body {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.top {
  margin-top: 4%;
}

.user_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  cursor: pointer;
}

#showAndHide {
  margin-top: 0.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#showAndHide span {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0 0.5%;
  height: 40px;
  border-radius: 50px;
  transition: all ease 1s;
}
#showAndHide span:hover {
  border: 1px solid black;
  font-weight: bolder;
  box-shadow: 1px 1px 1px silver;
  transition: all ease 1s;
  background: rgba(184, 134, 11, 0.5);
}

#navbar {
  background: black;
  width: 100vw;
  display: flex;
  justify-content: center;
}
#navbar nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 95vw;
  position: relative;
  left: -15px;
}
#navbar nav ul li {
  color: orangered;
  cursor: pointer;
}
#navbar nav ul li a {
  color: orangered;
}

#connexion_content {
  padding: 0 1% 1% 1%;
  position: absolute;
  z-index: 1;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(360deg, rgba(192, 192, 192, 0.8) 0%, rgba(255, 255, 255, 0.7) 100%);
}
#connexion_content #form_connexion {
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#connexion_content #form_connexion input {
  background: rgba(255, 152, 1, 0.5);
  border: 1px solid black;
  box-shadow: none;
}
#connexion_content #form_connexion button {
  background: rgba(255, 155, 0, 0.5);
  padding: 1%;
  box-shadow: none;
  border: 1px solid black;
  transition: all ease 0.5s;
}

#home_contener {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#home_contener .button_connexion {
  margin-top: 1%;
}

@media screen and (min-width: 1441px) {
  #navbar nav ul li a, #navbar nav ul li .connexion {
    position: relative;
  }
  #navbar nav ul li a::before, #navbar nav ul li .connexion::before {
    content: "";
    width: 0;
    height: 0.1em;
    position: absolute;
    bottom: 0;
    right: 0;
    background: orange;
    transition: all 0.3s;
  }
  #navbar nav ul li a:hover::before, #navbar nav ul li .connexion:hover::before {
    width: 100%;
    left: 0;
    background: darkgoldenrod;
  }

  #connexion_content {
    position: absolute;
    top: 40%;
    left: 44%;
    z-index: 1;
  }
  #connexion_content #form_connexion button:hover {
    border-radius: 20px;
    border: none;
    background: #ff9b00;
    transition: all ease 0.6s;
  }

  #home_contener {
    position: absolute;
    top: 35%;
    left: 30%;
    width: 40%;
  }
  #home_contener #image_home {
    width: 50%;
  }
  #home_contener .button_connexion {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #home_contener .button_connexion button {
    width: auto;
    background: none;
    border-radius: 20px;
    padding: 1%;
    cursor: pointer;
  }
}
@media screen and (max-width: 1440px) {
  #navbar {
    font-size: 12px;
  }
  #navbar nav ul li {
    text-shadow: 0.5px 0.5px 0.5px orange;
  }
  #navbar nav ul li a {
    text-shadow: 0.5px 0.5px 0.5px orange;
  }

  #connexion_content {
    position: absolute;
    top: 31%;
    left: 25.5%;
  }
  #connexion_content #form_connexion button:hover {
    border-radius: 20px;
    border: none;
    background: #ff9b00;
    transition: all ease 0.6s;
  }

  #home_contener {
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
  }
  #home_contener #image_home {
    width: 100%;
  }
  #home_contener .button_connexion {
    width: 150%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #home_contener .button_connexion button {
    width: auto;
    background: none;
    border-radius: 20px;
    cursor: pointer;
  }
}

/*# sourceMappingURL=style.css.map */
