body {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: none;
}

ul, ol {
  list-style: none;
}

.top {
  margin-top: 5%;
}

td, th {
  border-bottom: 1px solid gray;
}

.selected {
  border: 1px solid white;
  fill: white;
  background: darkgoldenrod;
  color: white;
  box-shadow: 2px 2px 2px gold;
  transition: all ease 0.5s;
}

.unselect {
  color: black;
  background: none;
  fill: black;
  border: 1px solid black;
}

.hidden {
  visibility: hidden;
  display: none;
}

.show {
  display: block;
}

.active {
  cursor: pointer;
}

.desactive {
  cursor: pointer;
}

.button_custum {
  border: 1px solid black;
  padding: 1%;
  border-radius: 3px;
  cursor: pointer;
  transition: all ease 0.5s;
}

tbody::-webkit-scrollbar {
  width: 6px;
  background: #b8860b;
}
tbody::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 50px;
  background: rgba(192, 192, 192, 0.9);
}

#navbar {
  background: #000;
  display: flex;
  justify-content: center;
  width: 100vw;
}
#navbar ul {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
#navbar ul li a {
  color: darkgoldenrod;
  text-shadow: 1px 1px 0px orange;
  font-weight: bold;
  position: relative;
  transition: all ease 0.6s;
}
#navbar ul li a::before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  right: 0;
  background: orange;
  transition: all 0.3s;
}
#navbar ul li a:hover::before {
  width: 100%;
  left: 0;
  background: darkgoldenrod;
}

.form_style {
  border: 1px outset silver;
  box-shadow: 2px 2px 2px silver;
  display: flex;
  justify-content: center;
}
.form_style form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.form_style form div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_style form .user_info {
  display: flex;
  flex-direction: column;
}
.form_style form input {
  border: 1px solid darkgoldenrod;
  box-shadow: 2px 2px 2px black;
}
.form_style form label {
  font-weight: bold;
}
.form_style form button {
  border: 1px outset lightgrey;
  box-shadow: 1px 1px 1px grey;
  background: none;
  padding: 1%;
  font-weight: bold;
  margin: 2% 0;
  cursor: pointer;
  transition: all ease 0.5s;
}
.form_style form button:hover {
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
  background: black;
  color: white;
  transition: all ease 0.5s;
}

#connexion_content {
  padding: 0.5% 0;
  z-index: 1;
  background: rgba(192, 192, 192, 0.8);
  position: fixed;
  top: 45%;
  left: 44.5%;
  width: 300px;
}
#connexion_content #form_connexion input {
  background: none;
}
#connexion_content #form_connexion button {
  margin-top: 7%;
}

.form_style {
  position: fixed;
  top: 20%;
  left: 40%;
  width: 500px;
  height: 500px;
  background: white;
}
.form_style .form_content div .img_inscription {
  width: 5%;
}
.form_style .form_content div .img_update {
  width: 10%;
  transform: rotate(60deg);
}
.form_style .form_content .content {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#delete_alert {
  background: #fff;
  position: fixed;
  top: 40%;
  left: 45%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  width: 350px;
  border-radius: 10px;
  padding: 1%;
}
#delete_alert .delete_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#delete_alert .delete_content .tor_button {
  display: flex;
  justify-content: space-around;
  width: 300px;
}
#delete_alert .delete_content .tor_button button {
  font-weight: bold;
  color: white;
  width: 50px;
  height: 30px;
  font-size: 15px;
  text-transform: uppercase;
  transition: all ease 0.5s;
  cursor: pointer;
}
#delete_alert .delete_content .tor_button button:hover {
  transition: all ease 0.5s;
  border: 1px white;
}
#delete_alert .delete_content .tor_button #confirm_delete {
  background: green;
}
#delete_alert .delete_content .tor_button #cancel_delete {
  background: darkred;
}

#home_contener {
  display: flex;
  width: 20%;
  position: relative;
  left: 40%;
  margin-top: 10%;
}

.admin {
  padding: 0 5%;
  display: flex;
  height: 75vh;
}
.admin .view_user {
  width: 45%;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.admin .view_user .user_table {
  width: 178%;
  text-align: center;
}
.admin .view_user .user_table tr th {
  background: silver;
}
.admin .view_user .user_table tr td, .admin .view_user .user_table tr th {
  border: 1px solid black;
}
.admin .view_user .user_table tr td {
  padding: 0.5%;
}
.admin .view_user .user_table thead {
  display: block;
  margin-right: 6px;
}
.admin .view_user .user_table thead th {
  width: 24%;
}
.admin .view_user .user_table tbody {
  display: block;
  overflow-y: auto;
  height: 65vh;
}
.admin .view_user .user_table tbody td {
  width: 23.5%;
}
.admin .view_user .user_table tbody::-webkit-scrollbar {
  width: 6px;
  background: #b8860b;
}
.admin .view_user .user_table tbody::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 50px;
  background: rgba(192, 192, 192, 0.9);
}
.admin .view_user .user_table tbody tr:nth-child(even) {
  background: lightgray;
}
.admin .view_user #view_update {
  border: none;
  background: rgba(255, 178, 0, 0.5);
}
.admin .view_user #view_update:hover {
  border: 1px solid #ffb200;
  box-shadow: 2px 2px 2px #ffb200;
  background: rgba(255, 178, 0, 0.5);
  transition: all ease 0.5s;
}
.admin .user_form {
  width: 40%;
  padding: 1%;
}
.admin .user_form .user_btn {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}
.admin .user_form .user_btn #view_addUser {
  background: rgba(0, 255, 0, 0.3);
}
.admin .user_form .user_btn #view_addUser:hover {
  border: 1px solid green;
  box-shadow: 2px 2px 2px rgba(0, 255, 0, 0.5);
  background: rgba(0, 255, 0, 0.5);
  transition: all ease 0.5s;
}
.admin .user_form .user_btn #view_delete {
  background: rgba(255, 0, 0, 0.3);
}
.admin .user_form .user_btn #view_delete:hover {
  border: 1px solid darkred;
  box-shadow: 2px 2px 2px rgba(255, 0, 0, 0.5);
  background: rgba(255, 0, 0, 0.3);
  transition: all ease 0.5s;
}
.admin .other_btn {
  padding: 1%;
  display: flex;
  justify-content: space-around;
  align-items: start;
  height: 60vh;
}
.admin .other_btn .status_view {
  text-align: center;
  min-width: 200px;
}
.admin .other_btn .status_view th {
  background: silver;
  padding: 1%;
}
.admin .other_btn .status_view tbody tr:nth-child(even) {
  background: lightgray;
}
.admin .other_btn #view_status {
  background: rgba(0, 255, 0, 0.3);
}
.admin .other_btn #view_status:hover {
  border: 1px solid green;
  box-shadow: 2px 2px 2px rgba(0, 255, 0, 0.5);
  background: rgba(0, 255, 0, 0.5);
  transition: all ease 0.5s;
}

#status_content {
  width: 250px;
  height: 150px;
  left: 45%;
  top: 35%;
  box-shadow: 2px 2px 2px rgba(218, 165, 32, 0.7);
}

.cancel_btn {
  border: none;
  background: none;
  transition: all ease 0.5s;
  cursor: pointer;
}
.cancel_btn:hover {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  transition: all ease 0.5s;
}

#update_content {
  position: fixed;
  width: 20%;
  padding-bottom: 1%;
  background: white;
  display: flex;
  justify-content: center;
  top: 35%;
  right: 5%;
}
#update_content #form_update .head_form {
  display: flex;
  justify-content: center;
  align-items: center;
}
#update_content #form_update .head_form .img_update {
  width: 10%;
  transform: rotate(65deg);
}
#update_content #form_update .big {
  display: flex;
  flex-direction: column;
}
#update_content #form_update .big .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#update_content #form_update .big .content .user_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1% 0;
}
#update_content #form_update .big .content .email select {
  margin-top: 2%;
}
#update_content #form_update .btn_update {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}
#update_content #form_update .btn_update .submit {
  border: 1px outset lightgrey;
  box-shadow: 1px 1px 1px grey;
  background: none;
  padding: 1%;
  font-weight: bold;
  margin: 2% 0;
  cursor: pointer;
  transition: all ease 0.5s;
}
#update_content #form_update .btn_update .submit:hover {
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
  background: black;
  color: white;
  transition: all ease 0.5s;
}

#rucher_admin #rucher_content {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  height: 75vh;
}
#rucher_admin #rucher_content table {
  border: 1px solid white;
}
#rucher_admin #rucher_content table thead th {
  background: silver;
}
#rucher_admin #rucher_content table tbody tr:nth-child(even) {
  background: lightgray;
}
#rucher_admin #rucher_content .left {
  display: flex;
  padding: 1%;
  justify-content: space-around;
  width: 45%;
}
#rucher_admin #rucher_content .left .view_ruche {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#rucher_admin #rucher_content .left .view_ruche .btn_ruche {
  width: 100%;
}
#rucher_admin #rucher_content .left .view_ruche .btn_ruche .dateSelect {
  margin: 1% 0;
}
#rucher_admin #rucher_content .left .view_ruche .btn_ruche .choose {
  margin: 1% 0;
}
#rucher_admin #rucher_content .left .view_ruche .btn_ruche .choose button {
  border: 1px solid black;
  background: none;
  border-radius: 50px;
  padding: 1%;
  transition: all ease 0.5s;
  cursor: pointer;
}
#rucher_admin #rucher_content .left .view_ruche .btn_ruche .choose button:hover {
  background: rgba(184, 134, 11, 0.5);
  border: none;
  box-shadow: 2px 2px 2px silver;
  color: white;
  text-shadow: 1px 1px 1px grey;
  transition: all ease 0.5s;
}
#rucher_admin #rucher_content .left .view_ruche .btn_ruche .dataSelect {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#rucher_admin #rucher_content .left .view_ruche .btn_ruche .dataSelect .view_choose {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  height: 25px;
  border-radius: 50px;
  cursor: pointer;
  padding: 0.2% 1%;
  transition: all ease 0.5s;
}
#rucher_admin #rucher_content .left .view_ruche .btn_ruche .dataSelect .view_choose:hover {
  background: rgba(184, 134, 11, 0.5);
  transition: all ease 0.5s;
}
#rucher_admin #rucher_content .left .view_ruche .view\&select {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
}
#rucher_admin #rucher_content .left .view_ruche .view\&select .graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right: 1%;
}
#rucher_admin #rucher_content .left .view_ruche .view\&select .graph #graph_content {
  background: #000;
  width: 500px;
}
#rucher_admin #rucher_content .left .view_ruche .view\&select .table\&select .select_ruche {
  width: 200px;
}
#rucher_admin #rucher_content .left .view_ruche .view\&select .table\&select .select_ruche thead {
  display: block;
  margin-right: 6px;
}
#rucher_admin #rucher_content .left .view_ruche .view\&select .table\&select .select_ruche thead th {
  width: 85%;
}
#rucher_admin #rucher_content .left .view_ruche .view\&select .table\&select .select_ruche tbody {
  display: block;
  overflow-y: auto;
  height: 57vh;
}
#rucher_admin #rucher_content .left .view_ruche .view\&select .table\&select .select_ruche tbody td {
  width: 65%;
  text-align: center;
}
#rucher_admin #rucher_content .right {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#rucher_admin #rucher_content .right .form_ruche {
  width: 100%;
  height: 100%;
}
#rucher_admin #rucher_content .right .form_ruche .btn_content {
  height: 20%;
  margin-top: 1.5%;
  margin-bottom: 5%;
  padding: 1.5%;
}
#rucher_admin #rucher_content .right .form_ruche .btn_content .btn_ruche {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3.5%;
}
#rucher_admin #rucher_content .right .form_ruche .btn_content .btn_ruche .ajouter {
  border: none;
  background: rgba(0, 255, 0, 0.3);
}
#rucher_admin #rucher_content .right .form_ruche .btn_content .btn_ruche .ajouter:hover {
  border: 1px solid green;
  box-shadow: 2px 2px 2px rgba(0, 255, 0, 0.5);
  background: rgba(0, 255, 0, 0.5);
  transition: all ease 0.5s;
}
#rucher_admin #rucher_content .right .form_ruche .btn_content .btn_ruche .modifier {
  border: none;
  background: rgba(255, 178, 0, 0.5);
}
#rucher_admin #rucher_content .right .form_ruche .btn_content .btn_ruche .modifier:hover {
  border: 1px solid #ffb200;
  box-shadow: 2px 2px 2px #ffb200;
  background: rgba(255, 178, 0, 0.5);
  transition: all ease 0.5s;
}
#rucher_admin #rucher_content .right .form_ruche .btn_content .other_btn {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}
#rucher_admin #rucher_content .right .form_ruche .btn_content .other_btn #admin_rucher {
  border: none;
  font-weight: bold;
  background: rgba(255, 255, 0, 0.5);
}
#rucher_admin #rucher_content .right .form_ruche .btn_content .other_btn #admin_rucher:hover {
  border: 1px solid #ffb200;
  box-shadow: 2px 2px 2px #ffb200;
  background: rgba(255, 178, 0, 0.5);
  transition: all ease 0.5s;
}
#rucher_admin #rucher_content .right .form_ruche .table_content {
  height: 65%;
  margin-bottom: 1.5%;
  display: flex;
  justify-content: space-around;
}
#rucher_admin #rucher_content .right .form_ruche .table_content .select_single thead {
  display: block;
}
#rucher_admin #rucher_content .right .form_ruche .table_content .select_single tbody {
  display: block;
  overflow: auto;
  height: 45vh;
}
#rucher_admin #rucher_content .right .form_ruche .table_content .select_single tbody td {
  width: 10%;
}
#rucher_admin #rucher_content .right .form_ruche .table_content .view_rucher thead {
  display: block;
}
#rucher_admin #rucher_content .right .form_ruche .table_content .view_rucher tbody {
  display: block;
  overflow: auto;
  height: 45vh;
}
#rucher_admin #rucher_content .right .form_ruche .table_content .view_rucher tbody td {
  width: 10%;
}

/*# sourceMappingURL=coustom.css.map */
