<div id="inscription_content" class="form_style">
  <form action="" method="post" id="form_inscription" class="">
      <div class="">
          <img src="../img/beehive.svg" alt="" class="img_inscription">
          <h2>Inscription</h2>
      </div>
      
      <div class="content">
          <div class="user_info">
              <label for="nom_inscription">nom</label>
              <input type="text" name="" id="nom_inscription">
          </div>
          <div class="user_info">
              <label for="prenom_inscription">prenom</label>
              <input type="text" name="" id="prenom_inscription">
          </div> 
      </div>
      <div class="user_info email">
          <label for="email_inscription">Email</label>
          <input type="mail" name="" id="email_inscription">
      </div>
      <div class="content">
          <div class="user_info">
              <label for="password_inscription">Password</label>
              <input type="password" name="" id="password_inscription">
          </div>
          <div class="user_info">
              <label for="verif_password_inscription">Vérif Password</label>
              <input type="password" name="" id="verif_password_inscription">
          </div>
      </div>
      <button type="submit" name="">inscription</button>
  </form>
</div>